<!DOCTYPE html>

<html>
    <head>
        <title>Error - 404</title>
        <link rel="icon" href="/img/download.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>404 - ERROR</h1>
            {{>header}}
            {{errorMessage}}
        </div>
        {{>name}}
    </body>
</html>