<!DOCTYPE html>


<html>

    <head>
        <title>Help</title>
        <link rel="icon" href="/img/download.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p> </p>
        {{message}}
        </div>
        {{>name}}
    </body>



</html>